<footer class="notepad-site-footer">
   
    <div class="copyright">
	    <section class="phone">Affordable Costa Rica Shuttle Service.</section>
	    <section class="phone">Guarenteed reliable service with an experienced bilingual driver.</section><section class="phone">Private and Shared Rates.</section>
	 <section><a class="" ref="{{ site.url }}"><img src="{{ site.url }}/images/{{ site.logo }}" style="margin-bottom: 5px" alt="Blog Logo" /></a></section>
         <section class="phone">+506 8334 9984</section>        
         <section>All content copyright <a href="{{ site.url }}/about">{{ site.owner.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
    </div>
    <div class="social-icons">
        <section class="phone">+506 8334 9984</section>        
        <a href="">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-whatsapp fa-stack-1x"></i>
            </span>
        </a>
        {% if site.owner.twitter %}
        <a href="http://twitter.com/{{ site.owner.twitter }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.instagram %}
        <a href="http://instagram.com/{{ site.owner.instagram }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.facebook %}
        <a href="http://facebook.com/{{ site.owner.facebook }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
    </div>
    
    <div class="cf"></div>
</footer>
